// @import url('https://fonts.googleapis.com/css?family=Lato');
@import url('utils.scss');

body {
    font-family: 'proxima nova', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // color: #909090;
    font-size: 16px;
}
textarea {
    resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Proxima Nova Rg', Helvetica, Arial, sans-serif;
}
.app-footer {
    border-top: 1px solid #ddd;
    .copyright-section {
        border-top: 1px solid #909090;
    }
    .footer-links {
        ul {
            padding-left: 0;
            list-style: none;
            li {
                padding: 0 0 8px;
                a {
                    color: inherit;
                    transition: 0.3s ease;
                }
                a:hover {
                    color: #43c13e;
                    text-decoration: none;
                }
            }
        }
    }
}
.is-header {
    font-weight: bold;
}
.btn {
    border-radius: 0;
}
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}
.form-control {
    border-radius: 0;
}
.form-control:focus {
    box-shadow: none;
    outline: none;
}
.shadow {
    // box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16) !important;
    box-shadow: 0 0 0.25rem #9da5ab;
}
.callback-container {
    min-height: 400px;
}
.btn-success {
    background-color: #43c13e;
    border-color: #43c13e;
}
.card {
    border-radius: 0;
}
.callback-flex-container {
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
}
.mt-10 {
    margin-top: 7rem;
}
.shea-title {
    color: #4b4b4b;
}
.bg-about-section {
    height: 400px;
    background-color: #d8d8d8;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.page-header {
    height: 150px;
    background-color: #d8d8d8;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.home-slider .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 45px;
    margin-top: 0;
}
section.hero .item {
    padding: 150px 0;
    background-size: cover !important;
}

section.hero .owl-dots {
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 0;
}

section.hero .owl-nav {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 45px;
    margin-top: 0;
}

section.hero .owl-nav .owl-next,
section.hero .owl-nav .owl-prev {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    color: #555 !important;
    text-align: center;
    line-height: 47px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 40px;
    background: #fff !important;
    z-index: 999;
    padding: 0;
    font-size: 1.4em !important;
    margin: 0;
}

section.hero .owl-nav .owl-next {
    left: auto;
    right: 40px;
}

section.hero.hero-home h1 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1120px) {
    section.hero .item {
        padding: 100px 0;
    }
    section.hero .owl-dots {
        bottom: 20px;
    }
    section.hero nav#nav-dots.nav-dots {
        display: block;
    }
    section.hero nav#nav-arrows.nav-arrows {
        display: none;
    }
}
.home-about .card {
    border: none;
}
.why-section {
    background-color: #eaeaea;
    min-height: 200px;
}
.special-title {
    color: #003a38;
}
.special-image-middle {
    height: 350px;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}
.header-title-hr-u h3,
.header-title-hr-u h4,
.header-title-hr-u h5 {
    position: relative;
    text-align: center;
}
.header-title-hr-u h3 span,
.header-title-hr-u h4 span,
.header-title-hr-u h5 span {
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}
.header-title-hr-u h3:before,
.header-title-hr-u h4:before,
.header-title-hr-u h5:before {
    background: #ddd;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.header-title-hr-u h3:before,
.header-title-hr-u h4:before,
.header-title-hr-u h5:before {
    left: 0;
}
.product-container {
    height: 400px;
    overflow: hidden;
    border: 1px solid #fff;
    position: relative;
    border: 1px solid #eee;

    .details {
        padding: 10px;
    }

    .ribbon {
        position: absolute;
        background-color: rgb(37, 145, 34);
        color: #fff;
        padding: 7px 15px;
        top: 0;
    }

    .product-img {
        height: 250px;
        text-align: center;
        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
            transition: 0.3s ease;
        }
    }

    a {
        color: inherit;
    }
    a:focus,
    a:active {
        outline: none;
    }
}
.product-container:hover {
    border: 1px solid #eee;
    a {
        text-decoration: none;
        color: #43c13e;
    }
}
.clients-section {
    background-color: #cee3b6;
    min-height: 200px;

    .brand {
        width: 250px;
        height: 60px;
        background-color: #fff;
        color: #4b4b4b;
    }
}
.product-category-container {
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;

    .category-detail {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        text-align: center;
        height: 50px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
    }

    a {
        color: #fff;
    }
}
.product-category-container:hover {
    cursor: pointer;
}

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#toTopBtn:hover {
    background-color: #555;
}
.product-subcategory {
    border-bottom: 1px solid #ddd;
}
.product-container,
.pro-cat {
    a {
        color: inherit;
    }
    a:hover {
        text-decoration: none;
    }
}
.product-image-container {
    .carousel-img {
        height: 400px;
        position: relative;
        text-align: center;
        overflow: hidden;

        img {
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .owl-thumb-item.active {
        opacity: 1;
    }
    .owl-thumb-item {
        background: none;
        border: none;
        opacity: 0.5;
        cursor: pointer;
        margin: 10px;
        outline: none;
        height: 80px;
        border: 1px solid #d4d4d4;
        width: 100px;
    }
    .owl-thumb-item img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.shea-global-breadcrumb {
    .breadcrumb {
        background-color: transparent;
        border-radius: 0;
    }
}

.app-sidebar .product-categories ul.main-list,
.app-sidebar .product-categories ul.child-list {
    list-style: none;
    padding-left: 0;
}
.app-sidebar .product-categories ul li.parent {
    padding-bottom: 1.5rem !important;
}
.app-sidebar .product-categories ul.main-list,
.app-sidebar .product-categories ul.child-list {
    list-style: none;
    padding-left: 0;
}
.app-sidebar .product-categories ul li.parent span {
    font-weight: bold;
}
.app-sidebar .product-categories ul.main-list,
.app-sidebar .product-categories ul.child-list {
    list-style: none;
    padding-left: 0;
}
.app-sidebar .product-categories ul li.parent {
    padding-bottom: 1.5rem !important;
}
.product-categories .child-list li:first-child {
    padding-top: 10px;
}
.product-categories .child-list li a {
    color: rgba(0, 0, 0, 0.7);
}
.product-categories ul li.parent span a {
    color: inherit;
}
.social-icons {
    a {
        color: inherit;
    }
    a:hover {
        color: #43c13e;
        text-decoration: none;
    }
}

@media (max-width: 767px) {
    .home-ico {
        img {
            text-align: center;
            height: 70px;
        }
    }
}

.blog-card {
    height: 350px;
    border-radius: 4px;
    transition: 0.3s ease;
    overflow: hidden;

    .blog-card-img {
        height: 200px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        img {
            flex: 1;
            height: 100%;
            cursor: pointer;
        }
    }
    .blog-card-content {
        padding: 0px 15px;
        a {
            color: inherit;
        }
        a:hover {
            text-decoration: none;
            color: #43c13e;
        }
        p {
            color: #77838f;
            line-height: 1.7;
        }
    }
}

.blog-card:hover {
    // box-shadow:0 0 0.25rem #9da5ab;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.16) !important;
    .blog-card-img {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.post-img {
    height: 400px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 4px;

    img {
        flex: 1;
        height: 100%;
    }
}
.post-comments {
    .header {
        padding-bottom: 10px;
        border-bottom: 1px solid #d4d4d4;
    }

    .comment-data {
        border-bottom: 1px solid #d4d4d4;
    }
}
.shadow-lg {
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
.fake-post-item {
    .fake-date {
        height: 7px;
        width: 30%;
    }
    .fake-image {
        border-radius: 4px;
        height: 400px;
    }

    .fake-content {
        height: 5px;
    }
}

.mb-sm-4,
.my-sm-4 {
    margin-bottom: 1.5rem !important;
}
.blog-slider {
    .blog-card {
        // border: 1px solid #ddd;
        height: 250px;
        background-size: cover;
        background-position: 100%;
        background-repeat: no-repeat;
        padding: 2px 2px 4px;
        outline: none;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 56px;
        height: 56px;
        cursor: pointer;
        font-size: 40px;
        line-height: 0;
        color: black;
        outline: none;
        border: 1px solid #3c77e2;
        margin: -20px 10px 0 0;
    }

    .owl-carousel .owl-nav button.owl-next:hover,
    .owl-carousel .owl-nav button.owl-prev:hover {
        background-color: #3c77e2;
        color: #fff;
    }

    .owl-theme .owl-nav {
        margin-top: 10px;
        position: absolute;
        margin-left: -285px;
        top: 120px;
    }

    @media screen and (max-width: 991px) and (min-width: 768px) {
        .blog-slider .owl-theme .owl-nav {
            margin-left: -185px !important;
        }
    }

    @media screen and (max-width: 767px) {
        .blog-slider .owl-theme .owl-nav {
            margin-top: -56px !important;
            margin-left: 0 !important;
            top: 0 !important;
            left: 72% !important;
        }
    }

    @media screen and (max-width: 501px) {
        .blog-slider .owl-theme .owl-nav {
            left: 60% !important;
        }
    }

    a:hover {
        text-decoration: none;
    }

    .blog-card:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    }
}

#cartHeader {
    .badge-success {
        background-color: #43c13e;
        position: absolute;
        margin-top: -8px;
        border-radius: 30px;
    }
}

.order-items-table {
    thead.bg-light {
        background-color: #909090 !important;
        color: #fff;
        border-color: #fff;
    }

    .order-item-img {
        height: 80px;
        overflow: hidden;

        img {
            object-fit: contain;
            max-height: 100%;
            max-width: 100%;
        }
    }

    .order-items-list {
        tr:not(:last-child) {
            border-bottom: 1px solid #909090;
        }

        .form-control {
            width: 70px;
        }
    }

    .removeFromCart {
        cursor: pointer;
    }
}
.btn-link:hover {
    text-decoration: none !important;
}

.empty-cart {
    .card {
        border-radius: 0px;
        // box-shadow: 0 22px 44px 0 rgba(0,13,36,.1), 0 4px 16px 0 rgba(0,13,35,.12);
        // border: none;
    }
}

.site-preloader {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    overflow: hidden;
}
.site-preloader .child-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

.site-update-cart,
.site-process-order,
.site-remove-cart,
.site-empty-cart {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    overflow: hidden;

    .child-loader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 250px;

        .loader-card {
            background-color: #fff;
            border: 1px solid #eee;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
        }
    }
}

.cart-card {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    .shoppingCartItem:not(:last-child) {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
}

.pricebtn {
    width: 150px;
    text-align: center;
    display: inline-flex;
}

.pricebtn button {
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff, #f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}

.pricebtn .priceval {
    display: inline-block;
    padding: 3px 6px;
    height: 100%;
    width: 46px;
    //height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 9px;
}
.pricebtn .priceval input {
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.remvbtn {
    padding-left: 24px;
    display: inline-flex;
}

.remvbtn span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 25px;
}

.shoppingCartItem {
    .cartItem-img {
        height: 100px;
        overflow: hidden;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    }
}

.is-danger {
    color: red !important;
}

.is-danger:hover {
    color: #d50000 !important;
}

.terms-list {
    li {
        padding: 10px 0;
    }
}

.details {
    .card {
        box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
        border: 1px solid #f4f4f4;
    }
}
.dropdown-menu {
    border: 1px solid #fff;
    border-radius: 0;
    border-top-width: 0.1875rem;
    border-top-style: solid;
    border-top-color: #43c13e;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: 0 8px 20px rgba(55, 125, 255, 0.075);
}
.dropdown .dropdown-menu.show {
    -webkit-animation-name: dropdownAnimation;
    animation-name: dropdownAnimation;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes dropdownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #43c13e;
}
.cart-btn,
.checkout-form {
    .btn-default {
        min-width: 250px;
        margin-right: 6px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-weight: 500;
    }
    .btn-success {
        min-width: 250px;
        margin-right: 6px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-weight: 500;
    }
}

.primary-bg {
    background-color: rgb(50, 175, 45);
}
.is-white {
    color: #fff;
}

.checkout-accordion {
    .accordion {
        margin-bottom: 16px;
        position: relative;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 0;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
    }
}
.text-danger {
    color: #ff0033 !important;
}
.text-center {
    text-align: center !important;
}
.table th {
    font-family: 'Proxima Nova Rg', Helvetica, Arial, sans-serif;
}

.wizard-card-footer {
    button {
        margin-right: 6px;
        border-radius: 0;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        font-size: 16px;
        font-weight: 500;
    }
}

.wizard-nav {
    .stepTitle .active {
        color: #2c8a28 !important;
    }
}
